<div class="mtp__slider js-mtp-slider">

	<div class="mtp__slider-header">
		<h2>gjhgjhgjgjhgj</h2>
	</div>

	<div class="mtp__slider-main">
		<div class="mtp__slider-container js-mtp-main-slider">
			<div class="mtp__slider-wrapper">

				<div class="mtp__slider-slide"
					 data-mfp-src="images/mtp-img.jpg">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet"
							 title="Lorem ipsum dolor sit amet">
					</picture>

					<div class="mtp__slider-description ">
						<h3 class="title">Lorem ipsum dolor sit amet</h3>
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>
				</div>
				<div class="mtp__slider-slide"
					 data-mfp-src="images/mtp-img.jpg">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet"
							 title="Lorem ipsum dolor sit amet">
					</picture>

					<div class="mtp__slider-description ">
						<h3 class="title">Lorem ipsum dolor sit amet</h3>
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>
				</div>
				<div class="mtp__slider-slide"
					 data-mfp-src="images/mtp-img.jpg">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet"
							 title="Lorem ipsum dolor sit amet">
					</picture>

					<div class="mtp__slider-description ">
						<h3 class="title">Lorem ipsum dolor sit amet</h3>
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>
				</div>

				<div class="mtp__slider-slide mtp__slider-slide--video"
					 data-mfp-src="https://www.youtube.com/embed/z-wLp8ccM1g">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit" title="Lorem ipsum dolor sit amet">
					</picture>
				</div>
			</div>

			<div class="mtp__slider-button mtp__slider-button--prev js-mtp-slider-button-prev">
				<svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 0.999512L11 10.9995L1 20.9995" stroke="white" stroke-linecap="round"/>
				</svg>
			</div>
			<div class="mtp__slider-button mtp__slider-button--next js-mtp-slider-button-next">
				<svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 0.999512L11 10.9995L1 20.9995" stroke="white" stroke-linecap="round"/>
				</svg>
			</div>
			<div class="mtp__slider-pagination js-mtp-slider-pagination"></div>
		</div>
	</div>

	<div class="mtp__slider-nav">
		<div class="mtp__slider-container js-mtp-nav-slider">
			<div class="mtp__slider-wrapper">

				<div class="mtp__slider-slide">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet" title="Lorem ipsum dolor sit amet">
					</picture>
				</div>
				<div class="mtp__slider-slide">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet" title="Lorem ipsum dolor sit amet">
					</picture>
				</div>
				<div class="mtp__slider-slide">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet" title="Lorem ipsum dolor sit amet">
					</picture>
				</div>


				<div class="mtp__slider-slide mtp__slider-slide--video">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet" title="lorem">
					</picture>
				</div>
			</div>
		</div>
	</div>

</div>
