<table>
	<caption>Шапка таблицы</caption>
	<thead>
	<tr>
		<th>Дополнительная шапка</th>
		<th colspan="2">Подзаголовок</th>
		<th colspan="2">Подзаголовок</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th>Название</th>
		<td>Столбец</td>
		<td>Столбец</td>
		<td>Столбец</td>
		<td>Столбец</td>
	</tr>
	<tr>
		<th>Название</th>
		<td>1.2</td>
		<td>1.2</td>
		<td>1.2</td>
		<td>1.2</td>
	</tr>
	<tr>
		<th>Название</th>
		<td>1.2</td>
		<td>1.2</td>
		<td>1.2</td>
		<td>1.2</td>
	</tr>
	<tr>
		<th>Название</th>
		<td>1.2</td>
		<td>1.2</td>
		<td>1.2</td>
		<td>1.2</td>
	</tr>
	</tbody>
</table>
