<div class="mtp__document">
	<div class="mtp__document-header">
		<h2>Lorem ipsum</h2>
	</div>
	<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download class="mtp__document-item">
		<div class="mtp__document-content">
			<div class="name">Скачать</div>
			<div class="size">ZIP (17,1 КБ)</div>
		</div>
	</a>
	<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download class="mtp__document-item">
		<div class="mtp__document-content">
			<div class="name">Скачать</div>
			<div class="size">ZIP (17,1 КБ)</div>
		</div>
	</a>
	<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download class="mtp__document-item">
		<div class="mtp__document-content">
			<div class="name">Скачать</div>
			<div class="size">ZIP (17,1 КБ)</div>
		</div>
	</a>
	<a href="/media/mediafiles/2020/11/iva-pismo-o-broshennogo-korzine.zip" download class="mtp__document-item">
		<div class="mtp__document-content">
			<div class="name">Скачать</div>
			<div class="size">ZIP (17,1 КБ)</div>
		</div>
	</a>
</div>
