<div class="mtp__gallery js-mtp-gallery">
	<div class="mtp__gallery-header">
		<h2>Lorem ipsum</h2>
	</div>
	<a href="images/mtp-img.jpg" class="mtp__gallery-item js-mtp-gallery-item">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor" title="Lorem ipsum dolor">
		</picture>
	</a>
	<a href="images/mtp-img.jpg" class="mtp__gallery-item js-mtp-gallery-item">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor" title="Lorem ipsum dolor">
		</picture>
	</a>
	<a href="images/mtp-img.jpg" class="mtp__gallery-item js-mtp-gallery-item">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor" title="Lorem ipsum dolor">
		</picture>
	</a>
	<a href="images/mtp-img.jpg" class="mtp__gallery-item js-mtp-gallery-item">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor" title="Lorem ipsum dolor">
		</picture>
	</a>
	<a href="images/mtp-img.jpg" class="mtp__gallery-item js-mtp-gallery-item">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor" title="Lorem ipsum dolor">
		</picture>
	</a>
	<a href="images/mtp-img.jpg" class="mtp__gallery-item js-mtp-gallery-item">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor" title="Lorem ipsum dolor">
		</picture>
	</a>
</div>
