<div class="main-slider__wrapper">
	<div class="main-slider js-main-slider">
		<div class="swiper-container main-swiper-container">
			<div class="swiper-wrapper main-swiper__wrapper js-swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide main-swiper-slide left js-swiper-slide">
					<picture>
						<source srcset="/images/main-slide-1.webp" type="image/webp">
						<img src="/images/main-slide-1.jpg" alt="fvff">
					</picture>
					<div class="main-slider-desc wrapper">
						<h1>Главный заголовок</h1>
						<p>Подзаголовок Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci beatae
							deleniti eaque ipsa
							pariatur recusandae repellendus. Dolor, natus praesentium!</p>
					</div>
				</div>

				<div class="swiper-slide main-swiper-slide right js-swiper-slide">
					<picture>
						<source srcset="/images/main-slide-3.webp" type="image/webp">
						<img src="/images/main-slide-3.jpg" alt="fvff">
					</picture>
					<div class="main-slider-desc wrapper">
						<h1>Главный заголовок</h1>
						<p>Подзаголовок Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci beatae
							deleniti eaque ipsa
							pariatur recusandae repellendus. Dolor, natus praesentium!</p>
					</div>
				</div>
				{#<div class="swiper-slide main-swiper-slide js-swiper-slide">
					<picture>
						<source srcset="/images/main-slide-3.webp" type="image/webp">
						<img src="/images/main-slide-3.jpg" alt="fvff">
					</picture>
				</div>
				<div class="swiper-slide main-swiper-slide js-swiper-slide">
					<picture>
						<source srcset="/images/main-slide-4.webp" type="image/webp">
						<img src="/images/main-slide-4.jpg" alt="fvff">
					</picture>
				</div>
				<div class="swiper-slide main-swiper-slide js-swiper-slide">
					<picture>
						<source srcset="/images/main-slide-5.webp" type="image/webp">
						<img src="/images/main-slide-5.jpg" alt="fvff">
					</picture>
				</div>
				<div class="swiper-slide main-swiper-slide js-swiper-slide">
				<picture>
					<source srcset="/images/main-slide-6.webp" type="image/webp">
					<img src="/images/main-slide-6.jpg" alt="fvff">
				</picture>
			</div>#}
			</div>


		</div>
		<div class="main-swiper-pagination swiper-pagination">

		</div>

		{#<button class="btn swiper-button swiper-button-prev js-main-slider__btn--prev">{% include
			'includes/svg/arrow-slider.svg' %}
	</button>
	<button class="btn swiper-button swiper-button-next js-main-slider__btn--next">{% include
			'includes/svg/arrow-slider.svg' %}
	</button>#}
	</div>


</div>
