.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 20px 0 10px;

    &__item {
        position: relative;
        padding-right: 22px;
        font-size: rem(14);
        font-weight: $font-weight;
        line-height: 1.57;
        color: $typography-primary-color;
        margin-bottom: 10px;

        &::after {
            content: "/";
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }

    &__link {
        @include transition();
        color: $function-link-color;
        text-decoration: none;
        &:hover {
            color: darken($function-link-color, 5%);
            text-decoration: underline;
        }
    }
}
