.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
    margin-bottom: 24px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 3px;
        font-size: rem(14);
        line-height: 1.57;
        color: $typography-primary-color;

        &.active {
            .pagination__link {
                background-color: $function-primary-color;
                color: $white-color;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: rem(14);
        line-height: 1.57;
        color: $typography-primary-color;
        text-decoration: none;

        &:hover {
            background-color: $function-primary-color;
            color: $white-color;
        }
    }
}
