.catalog-sidebar {
    &__list {
        width: 100%;
        margin: 0 0 24px;
        padding: 10px 0;
        list-style: none;
    }

    &__item {
        width: 100%;
        padding: 0 0 0 12px;


        .catalog-sidebar__list {
            display: none;
        }
        &-inner {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
        }

        &.active {

            & > .catalog-sidebar__item-inner .catalog-sidebar__arrow {
                transform: rotate(-180deg);
            }

            & > ul {
                display: block;
                padding-bottom: 0;
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        padding: 12px 0;
        font-weight: $font-weight--700;
        color: $typography-primary-color;
        text-decoration: none;
    }

    &__arrow {
        @include transition();
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        &:hover {
            transform: scale(.96);
        }
        .icon {
            font-size: 16px;
            width: 16px;
        }
    }
}
