.catalog__list {
    @include col(9);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;


    .catalog__sorting {
        @include col(6);
        margin-bottom: 24px;

        hr {
            margin-top: 8px;
            border-color: $border-color;
            margin-bottom: 0;
        }
    }

    .catalog__size {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 0;
        width: 68px;

        &-btn {
            display: block;
            width: 24px;
            height: 24px;
            border: none;
            appearance: none;
            background-color: none;
            cursor: pointer;
            opacity: .5;
            &.active {
                opacity: 1;
            }
        }
    }

    &__inner {
        @include row();
        justify-content: space-between;
    }

    &-item {
        @include transition();
        @include col(4);
        margin-bottom: 24px;
        display: flex;
        &:hover {
            transform: translateY(-4px);
        }
    }
}
