.feedback {
    max-width: 952px!important;
    padding: rem(64) 0;
    h2 {
        margin-bottom: rem(32);
        font-weight: $font-weight--700;
        font-size: rem(40);
        line-height: rem(56);
        color: $typography-primary-color;
    }
    .form {
        margin: 0;
        & > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        .field {
            width: 100%;
            &--half {
                width: calc(50% - 10px);
                max-width: 408px;
            }
            textarea {
                min-height: 144px;
                resize: none;
            }
        }
    }
    &--bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        .policy {
            width: 406px;
            margin-right: 20px;
            font-size: rem(16);
            line-height: rem(24);
            color: $typography-secondary-color;
        }
        .btn {
            width: 224px;
        }
    }
}
