@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/sprite";
@import "base/_grid";

@import "sections/text-slider";

.inner {
    @include row();
}
.inner-col {
    @include col(12); }

.text {
    margin-bottom: rem(84);
    color: $typography-text-color;
    h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight--700;
        line-height: 1.5;
        margin-bottom: rem(24);
    }
    h1 {
        font-size: rem(56);
    }
    h2 {
        font-size: rem(40);
    }
    h3 {
        font-size: rem(32);
    }
    h4 {
        font-size: rem(28);
    }
    h5 {
        font-size: rem(24);
    }
    h6 {
        font-size: rem(20);
    }
    p {
        font-size: rem(16);
        line-height: rem(24);
        margin-bottom: rem(24);
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        @include transition();
        color: $function-primary-color;
        &:hover {
            color: $function-hover-color;
        }
        &:visited {
            color: $hover-shadow-color;
        }
        &:active {
            color: $typography-text-color;
        }
    }
    ul, ol {
        margin-bottom: rem(24);
        padding: 0;
        list-style: none;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            display: flex;
            align-items: flex-start;
            margin-bottom: rem(24);
            font-size: rem(16);
            line-height: rem(24);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ul {
        li {
            &:before {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                margin-top: 8px;
                margin-right: 8px;
                border-radius: 50%;
                background-color: $typography-text-color;
            }
        }
    }
    ol {
        counter-reset: list;
        li {
            &:before {
                counter-increment: list;
                content: counter(list) ".";
                margin-right: 4px;
                font-weight: $font-weight--700;
            }
        }
    }
    blockquote {
        margin: 0;
        margin-bottom: rem(24);
        padding: 5px 0 5px 34px;
        border-left: 4px solid $function-primary-color;
        font-style: italic;
        font-size: rem(18);
        line-height: 1.44;
        color: $typography-secondary-color;
        &:last-child {
            margin-bottom: 0;
        }
    }
    table {
        margin-bottom: rem(24);
        color: $typography-primary-color;
        &:last-child {
            margin-bottom: 0;
        }
        caption {
            padding: rem(25) rem(29);
            text-align: left;
            background-color: rgba(233, 233, 233, 0.5);
            font-weight: $font-weight--700;
            font-size: rem(16);
            line-height: 1.5;
        }
        tr {
            th, td {
                border: 1px solid $table-border-color;
                padding: rem(14) rem(29);
                font-size: 14px;
                line-height: 1.57;
                text-align: center;
                &:first-child {
                    text-align: left;
                }
            }
        }
        thead {
            th {
                padding: rem(20) rem(29) rem(22);
            }
        }
    }
    &__table {
        @include scrollhide();
        margin-bottom: rem(24);
        overflow-x: auto;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
