<div class="mtp__inline-item mtp__inline-item--right">
	<div class="mtp__inline-img">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="lorem" title="lorem">
		</picture>
	</div>
	<div class="mtp__inline-content">
		<div class="mtp__document-header">
			<h2>Lorem ipsum</h2>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dignissimos neque praesentium quam quas rem
			rerum veniam voluptates? Accusamus aliquid culpa nulla quos. Alias corporis enim maxime mollitia
			perspiciatis quo tenetur? Aliquid deserunt esse est excepturi, exercitationem explicabo ipsum maxime nam,
			odio officia quia quidem repellat sapiente sequi voluptatem voluptatibus.</p>
	</div>
</div>
