<div class="mtp__inline-item">
	<div class="mtp__inline-img">
		<picture>
			<source srcset="images/mtp-img.webp" type="image/webp">
			<img src="images/mtp-img.jpg" alt="lorem" title="lorem">
		</picture>
	</div>
	<div class="mtp__inline-content">
		<div class="mtp__document-header">
			<h2>Lorem ipsum</h2>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam, blanditiis culpa dicta magnam maiores
			minima minus porro provident quaerat qui ratione, recusandae repellat rerum sequi. Aliquid aperiam cum
			distinctio doloremque ea enim eum fuga itaque minima mollitia nisi, nostrum, officiis possimus praesentium
			repellendus voluptate voluptatum. Cumque labore quia repudiandae.</p>
	</div>
</div>
