<div class="mtp__spoiler js-spoiler">
	<div class="mtp__spoiler-header">
		<h2>Lorem ipsum.</h2>
	</div>

	<div class="mtp__spoiler-item js-spoiler-item">
		<div class="mtp__spoiler-item-header">
			<button class="mtp__spoiler-button js-spoiler-button">
				Lorem ipsum dolor
			</button>
		</div>
		<div class="mtp__spoiler-item-content js-spoiler-content">
			<div class="mtp__spoiler-text">
				Здесь ваш текст..&quot; Многие программы электронной
				вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
				умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
			</div>
		</div>
	</div>

	<div class="mtp__spoiler-item js-spoiler-item">
		<div class="mtp__spoiler-item-header">
			<button class="mtp__spoiler-button js-spoiler-button">
				Lorem ipsum dolor
			</button>
		</div>
		<div class="mtp__spoiler-item-content js-spoiler-content">
			<div class="mtp__spoiler-text">
				Здесь ваш текст..&quot; Многие программы электронной
				вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
				умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
			</div>
		</div>
	</div>
	<div class="mtp__spoiler-item js-spoiler-item">
		<div class="mtp__spoiler-item-header">
			<button class="mtp__spoiler-button js-spoiler-button">
				Lorem ipsum dolor
			</button>
		</div>
		<div class="mtp__spoiler-item-content js-spoiler-content">
			<div class="mtp__spoiler-text">
				Здесь ваш текст..&quot; Многие программы электронной
				вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
				умолчанию, так что поиск по ключевым словам &quot;lorem ipsum&quot; сразу пок
			</div>
		</div>
	</div>
</div>
