<div class="article-form">
	<h2>Заголовок формы</h2>
	<form>
		<div class="modal__form">
			<div class="article-form__col">
				<label class="modal__form--item">
					<input type="text" class="input" placeholder="Валерий" required>
					<span class="title">Имя</span>
				</label>
				<label class="modal__form--item">
					<input type="email" class="input" placeholder="regiteriw@mail.ru"
						   required>
					<span class="title">E-mail</span>
				</label>
				<label class="modal__form--item">
					<input type="tel" class="input js-phone-mask"
						   placeholder="+7 (434) 656-13-23" required>
					<span class="title">Телефон</span>
				</label>
			</div>
			<div class="article-form__col">
				<label class="modal__form--item">
                                                <textarea class="input" placeholder="Текст сообщения"
														  required></textarea>
					<span class="title">Сообщение</span>
				</label>
				<div class="modal__policy">
					При отправке сообщения вы соглашаетесь с нашими
					<a href="#0" target="_blank">Условиями пользования</a> , а также с
					<a href="#0" target="_blank">Политикой Конфиденциальности</a> и
					<a href="#0" target="_blank">Cookie</a>
				</div>
				<button type="submit" class="btn btn--blue">Отправить</button>
			</div>
		</div>
	</form>
</div>
